[options]
; This is the password that allows database operations:
admin_password = {{ admin_password }}
db_host = {{ db.host }}
db_port = {{ db.port }}
db_user = {{ db.user }}
db_password = {{ db.password }}
addons_path = /opt/openhrms/addons, /opt/openhrms/openhrms